<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Web Audio API Test</title>
</head>
<body>
<h2>Play</h2>
<button id="playTone">Play</button>
<button id="stopTone">Stop</button>
<br>
<button class="waveformButton" data-waveform="sine">Sine</button>
<button class="waveformButton" data-waveform="square">Square</button>
<button class="waveformButton" data-waveform="sawtooth">Sawtooth</button>
<button class="waveformButton" data-waveform="triangle">Triangle</button>
<script src="/webAudioController.js"></script>
</body>
</html>
