<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Web Audio API Test</title>
</head>
<body>
    <h2>Play Tone</h2>
    <button id="playTone">Play</button>
    <button id="stopTone">Stop</button>
    <br>
    <button class="waveformButton" data-waveform="sine">Sine</button>
    <button class="waveformButton" data-waveform="square">Square</button>
    <button class="waveformButton" data-waveform="sawtooth">Sawtooth</button>
    <button class="waveformButton" data-waveform="triangle">Triangle</button>
    <br>

<!--    frequency-->
    <label for="frequency">Frequency: </label>
    <input type="range" id="frequency" name="frequency" min="20" max="6000" value="440">
    <span id="frequencyValue">440</span> Hz
    <br>

<!--    volume-->
    <label for="volume">Volume:</label>
    <input type="range" id="volume" min="0" max="1" step="0.01" value="0.1">
    <span id="volumeValue">0.1</span>
    <br>
<!--    panning-->
    <label for="pan">Pan: </label>
    <input type="range" id="pan" min="-1" max="1" step="0.01" value="0">
    <span id="panValue">0</span>
    <button id="resetPan">Reset Pan</button>
    <br>
    
    <canvas id="visualizer" width="800" height="300"></canvas>

    <script src="/webAudioController.js"></script>
</body>
</html>
